/nbproject/private/
/dist/
/build/
nbproject/

nbbuild\.xml

lib/CopyLibs/

lib/nblibraries\.properties

manifest\.mf
src/ubordeaux/deptinfo/compilation/project/main/ScannerExpr\.java


src/ubordeaux/deptinfo/compilation/project/main/ParserExpr\.java

bin/

data/output
exec.sh
src/ubordeaux/deptinfo/compilation/project/main/Terminals.java
